table {
    border-collapse: collapse;
    margin-left: 70px;
    text-align: center;
    }
  
  td, th {
    border: solid 2px black;
    border-radius: 6px;
    background-color: white;
    width: 270px;
    height: 55px;
    color: black;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  tr {
    background-color: #ffffff;
  }